<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="#" th:action="@{/goForm}"
      method="post">
    <div class="form-group">
        <label for="ServiceType">Username</label>
        <input id="ServiceType" class="form-control" name="Type"/>
    </div>
    <div class="form-group">
    <label for="from">from</label>
    <input id="from"  class="form-control" name="from"/>
</div>
    <div class="form-group">
        <label for="to">to</label>
        <input id="to"  class="form-control" name="to"/>
    </div>
    <div class="form-group">
        <label for="maxPrice">maxPrice</label>
        <input id="maxPrice"  class="form-control" name="price"/>
    </div>
    <button type="submit" id="btn-save" class="btn btn-primary">Submit</button>
</form>
</body>
</html>